:root {
  /* Colors */
  /* primary-colors */
  --primary-indigo: #5243c2;
  --primary-danger: #ff4d4f;
  --primary-black: #1f2939;
  --primary-muted: #949ba6;
  --primary-titan-white: #f5f5ff;
  --primary-black-squeeze: #f0f7fa;
  --primary-white: #ffffff;

  /* red-shade */
  --red-500: #ff4d4f;
  --red-400: #ff9293;
  --red-300: #ffc8c8;
  --red-200: #ffeded;

  /* indigo-shade */
  --indigo-600: #473aa6;
  --indigo-500: #5243c2;

  /* gray-shade */
  --gray-200: #d4d4d4;
  --gray-100: #f4f4f4;

  /* Fonts  Sizes*/
  --primary-xlg: 4.5rem;
  --primary-lg: 3rem;
  --primary-md: 2.25rem;
  --primary-sl: 1.5rem;
  --primary-xsl: 1.25rem;
  --primary-XXL: 1rem;
  --primary-14: 0.875;
  --primary-12: 0.75;

  /* Fonts Weights*/
  --primary-regular-400: 400;
  --primary-semi-bold-600: 600;
  --primary-bold-700: 700;
  --primary-extra-bold-800: 800;

  /* Margins */
  --primary-margin-500: 5em;
  --primary-margin-400: 3.75em;

  /*space sizes */
  --size-42: 2.625rem;
  --size-32: 2rem;
  --size-26: 1.625rem;
  --size-12: 0.75rem;
}

/* Box sizing rules and removing default margin and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: var(--primary-xlg);
  font-weight: var(--primary-bold-700);
}
h2 {
  font-size: var(--primary-lg);
  font-weight: var(--primary-semi-bold-600);
}
h3 {
  font-size: var(--primary-md);
  font-weight: var(--primary-semi-bold-600);
}
h4 {
  font-size: var(--primary-sl);
  font-weight: var(--primary-semi-bold-600);
}
h5 {
  font-size: var(--primary-xsl);
  font-weight: var(--primary-semi-bold-600);
}
h6 {
  font-size: var(--primary-XXL);
  font-weight: var(--primary-semi-bold-600);
}

/* Component Classes */

/* buttons */
.btn {
  border: transparent;
  cursor: pointer;
}
.btn__circle--md {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.btn__circle--sm {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.btn__circle--xs {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.btn--md {
  background-color: rebeccapurple;
  padding: 1em 1.5em;
  border-radius: 100px;
}
.btn--sm {
  background-color: rebeccapurple;
  padding: 0.7em 1.2em;
  border-radius: 100px;
}
.btn--xs {
  background-color: rebeccapurple;
  padding: 0.5em 1em;
  border-radius: 100px;
}
.btn--primary {
  background-color: var(--primary-indigo);
}
.btn--primary:hover,
.btn--primary:focus-visible {
  background-color: var(--indigo-600);
}
.btn--ghost {
  background-color: var(--primary-titan-white);
}
.btn--ghost:hover,
.btn--ghost:focus-visible {
  background-color: var(--primary-indigo);
}
.btn--red {
  background-color: var(--red-200);
}
.btn--red:hover,
.btn:focus-visible {
  background-color: var(--primary-danger);
}
.btn--hero {
  border-radius: 100%;
  width: 180px;
  height: 180px;
  background-color: var(--primary-indigo);
}
.btn--hero:hover,
.btn--hero:focus-visible {
  width: 220px;
  height: 220px;
  background-color: var(--indigo-600);
}
