@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=Open+Sans:wght@400;600;700;800&display=swap");

:root {
  /* Colors */
  /* primary-colors */
  --primary-indigo: #5243c2;
  --primary-danger: #ff4d4f;
  --primary-black: #1f2939;
  --primary-muted: #949ba6;
  --primary-titan-white: #f5f5ff;
  --primary-black-squeeze: #f0f7fa;
  --primary-white: #ffffff;

  /* red-shade */
  --red-500: #ff4d4f;
  --red-400: #ff9293;
  --red-300: #ffc8c8;
  --red-200: #ffeded;

  /* indigo-shade */
  --indigo-600: #473aa6;
  --indigo-500: #5243c2;

  /* gray-shade */
  --gray-200: #d4d4d4;
  --gray-100: #f4f4f4;

  /* Fonts  Sizes*/
  --primary-xlg: 4.5rem;
  --primary-lg: 3rem;
  --primary-md: 2.25rem;
  --primary-sl: 1.5rem;
  --primary-xsl: 1.25rem;
  --primary-XXL: 1rem;
  --primary-14: 0.875rem;
  --primary-12: 0.75rem;

  /* Fonts Weights*/
  --primary-regular-400: 400;
  --primary-semi-bold-600: 600;
  --primary-bold-700: 700;
  --primary-extra-bold-800: 800;

  /* Margins */
  --primary-margin-500: 5em;
  --primary-margin-400: 3.75em;

  /*space sizes */
  --size-42: 2.625rem;
  --size-32: 2rem;
  --size-26: 1.625rem;
  --size-12: 0.75rem;
}

/* Box sizing rules and removing default margin and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: var(--primary-xlg);
  font-weight: var(--primary-bold-700);
}
h2 {
  font-size: var(--primary-lg);
  font-weight: var(--primary-semi-bold-600);
}
h3 {
  font-size: var(--primary-md);
  font-weight: var(--primary-semi-bold-600);
}
h4 {
  font-size: var(--primary-sl);
  font-weight: var(--primary-semi-bold-600);
}
h5 {
  font-size: var(--primary-xsl);
  font-weight: var(--primary-semi-bold-600);
}
h6 {
  font-size: var(--primary-XXL);
  font-weight: var(--primary-semi-bold-600);
}

/* Component Classes */

/* buttons */
.btn {
  border: transparent;
  cursor: pointer;
  text-transform: capitalize;
}
.btn__circle--md {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.btn__circle--sm {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.btn__circle--xs {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.btn--md {
  padding: 1em 1.5em;
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.btn--sm {
  padding: 0.7em 1.2em;
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.btn--xs {
  padding: 0.5em 1em;
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.btn--primary {
  background-color: var(--primary-indigo);
  color: var(--primary-white);
}
.btn--primary:hover,
.btn--primary:focus-visible {
  background-color: var(--indigo-600);
}
.btn--ghost {
  background-color: var(--primary-titan-white);
  color: var(--primary-indigo);
}
.btn--ghost:hover,
.btn--ghost:focus-visible {
  background-color: var(--primary-danger);
  color: var(--primary-white);
}
.btn--ghost:disabled {
  background-color: var(--red-300);
  cursor: not-allowed;
}
.btn--red {
  background-color: var(--red-200);
  color: var(--primary-danger);
}
.btn--red:hover,
.btn:focus-visible {
  background-color: var(--primary-danger);
  color: var(--primary-titan-white);
}
.btn--hero {
  position: absolute;
  inset: 70% 0 0 50%;
  transform: translate(-50%, -70%);
  border-radius: 100vmax;
  padding: 0 0.1em;
  aspect-ratio: 1;
  background-color: var(--primary-indigo);
  text-justify: distribute;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.btn--hero > a {
  color: var(--primary-white);
  text-decoration: none;
  border-radius: 100vmax;
  padding: 0 0.1em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--hero:hover,
.btn--hero:focus-visible {
  transform: translate(-50%, -70%) scale(1.1);
  background-color: var(--indigo-600);
}

/* fonts */

.font-72 {
  font-size: var(--primary-xlg);
}
.font-48 {
  font-size: var(--primary-lg);
}
.font-36 {
  font-size: var(--primary-md);
}
.font-24 {
  font-size: var(--primary-sl);
}
.font-20 {
  font-size: var(--primary-xsl);
}
.font-16 {
  font-size: var(--primary-XXL);
}
.font-14 {
  font-size: var(--primary-14);
}
.font-12 {
  font-size: var(--primary-12);
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.regular {
  font-weight: var(--primary-regular-400);
}
.semi-bold {
  font-weight: var(--primary-semi-bold-600);
}
.bold {
  font-weight: var(--primary-bold-700);
}
.extra-bold {
  font-weight: var(--primary-extra-bold-800);
}

/* paddings block */

.padding-block-32 {
  padding-block: var(--size-32);
}
.padding-block-26 {
  padding-block: var(--size-26);
}
.padding-block-12 {
  padding-block: var(--size-12);
}
.padding-top-32 {
  padding-top: var(--size-32);
}
.padding-bottom-32 {
  padding-bottom: var(--size-32);
}
.padding-bottom-26 {
  padding-bottom: var(--size-26);
}
.padding-top-12 {
  padding-top: var(--size-12);
}

/* positions */

.relative {
  position: relative;
}

.container {
  width: min(1544px, 100% - 1em);
  margin: 0 auto;
}

.nav__wrapper {
  display: flex;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-indigo);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-titan-white);
}

.left__navbar {
  flex: 1 1 50em;
  display: flex;
  align-items: center;
  gap: 100px;
}
.nav__list {
  display: flex;
  gap: 50px;
}
.nav__list > li {
  list-style-type: none;
}
.nav__list > li > a {
  color: var(--primary-black);
  text-decoration: none;
  text-transform: capitalize;
}
.nav__list > li > :is(a:hover, a:focus) {
  font-weight: var(--primary-semi-bold-600);
  border-bottom: 2px solid var(--primary-indigo);
  padding-bottom: 5px;
}
.nav__list > li > a::after {
  display: block;
  height: 1px;
  color: transparent;
  content: attr(data-text);
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--primary-semi-bold-600);
  border-bottom: 2px solid var(--primary-indigo);
  padding-bottom: 5px;
}
.active {
  font-weight: var(--primary-semi-bold-600);
  border-bottom: 2px solid var(--primary-indigo);
  padding-bottom: 5px;
}
.right__navbar {
  flex: 1 1 27.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone__no {
  color: var(--primary-black);
}

.drop__down--menu {
  display: none;
}

.toggle--nav__list > li {
  list-style-type: none;
}
.toggle--nav__list > li > a {
  color: var(--primary-black);
  text-decoration: none;
  text-transform: capitalize;
}
.toggle--nav__list > li > a:hover {
  font-weight: var(--primary-semi-bold-600);
  border-bottom: 2px solid var(--primary-indigo);
  padding-bottom: 5px;
}
.width__btn--hero {
  display: inline-block;
  flex: 0 1 140px;
}
.avatar {
  position: relative;
}
.avatar__drop--down {
  width: 209px;
  height: 195px;
  box-shadow: 0px 0px 30px -22px rgba(0, 0, 0, 0.51);
  border-radius: 15px;
  position: absolute;
  right: -10px;
  top: 60px;
  z-index: 9999;
  background-color: var(--primary-white);
}
.drop__down {
  padding: 20px;
}
.arrow::before {
  content: " ";
  position: absolute;
  right: 30px;
  top: -10px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--primary-white);
}
.drop__down > h6 {
  margin-bottom: var(--size-12);
}
.drop__down--list {
  margin-top: 5px;
}
.drop__down--list > li {
  font-size: var(--primary-14);
  height: 40px;
  display: flex;
  align-items: center;
  text-indent: 10px;
}
.drop__down--list > li:not(:last-child) {
  color: var(--primary-black);
}
.drop__down--list > li:last-child {
  color: var(--primary-danger);
}
.drop__down--list > li:hover {
  background-color: var(--primary-titan-white);
  border-radius: 8px;
  font-weight: var(--primary-semi-bold-600);
}
.avatar__drop--down {
  display: none;
}

@media (max-width: 65em) {
  .left__navbar,
  .right__navbar {
    flex: 1 1 auto;
  }
  .left__navbar {
    gap: 50px;
  }
  .btn--hero {
    font-size: var(--primary-xsl);
  }
}
@media (max-width: 50em) {
  .avatar {
    display: none;
  }
  .drop__down--menu {
    display: block;
  }
  .nav__list {
    display: none;
  }
  .phone__no {
    display: none;
  }
  .toggle__navbar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    position: absolute;
    top: 105px;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--primary-white);
  }
  .toggle--nav__list {
    text-align: center;
  }
  .toggle--nav__list li:not(:first-child) {
    margin-top: 3.125em;
  }
  .customer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customer > h6 {
    margin-top: 1em;
  }
  .fa-solid {
    display: none;
  }
  .btn--hero {
    font-size: var(--primary-14);
    inset: 59% 0 0 50%;
  }
  .width__btn--hero {
    flex: 0 1 134px;
  }
  .hero__burger--mob {
    margin-bottom: 200px;
  }
}

.even-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left__footer > ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left__footer > ul > li:nth-child(1) {
  text-transform: capitalize;
  color: var(--primary-muted);
}
.left__footer > ul > li:not(:first-child) {
  text-transform: capitalize;
  color: var(--primary-indigo);
}

.right__footer > ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.border__right {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: var(--primary-muted);
}

.title__screen--01 {
  width: 30ch;
}
.title__screen--01 > h1 {
  font-size: clamp(
    var(--primary-lg),
    calc(2.61rem + 1.97vw),
    var(--primary-xlg)
  );
  text-transform: capitalize;
  line-height: 1;
}
.title__screen--02 {
  width: 30ch;
}
.title__screen--02 > h1 {
  font-size: clamp(
    var(--primary-lg),
    calc(2.61rem + 1.97vw),
    var(--primary-xlg)
  );
  text-transform: capitalize;
  line-height: 1;
}

.main__hero--grid {
  display: grid;
  grid-template: 48.5em / repeat(2, 1fr);
  align-items: center;
}

.hero__paragraph--mob {
  display: none;
}
.hero__burger--mob {
  display: none;
}

@media (max-width: 50em) {
  .title__screen--01 {
    width: 100%;
  }
  .main__hero--grid {
    grid-template: auto / 1fr;
    place-items: center;
  }
  .hero__paragraph--mob {
    display: block;
    margin-top: var(--size-26);
  }
  .hero__burger {
    display: none;
  }
  .hero__burger--mob {
    display: inline-block;
  }
  .even-columns {
    grid-template-columns: 1fr;
  }

  .left__footer > ul {
    justify-content: center;
    gap: 30px;
  }
  .right__footer {
    margin-top: var(--size-12);
  }
  .right__footer > ul {
    justify-content: center;
    gap: 30px;
  }
}

.main__burger--grid {
  display: grid;
  grid-template: 500px / repeat(3, 1fr);
  align-items: center;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger__items--container {
  height: 500px;
  background: url("./assests/bg--blob.svg") no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.burger--items {
  position: relative;
}

.burger--items img {
  display: inline-block;
  width: 100%;
}

@keyframes topToBottom {
  from {
    top: -1000px;
    opacity: 0;
  }
}

.cutlet_01,
.cutlet_02,
.mayo_01,
.mayo_02,
.onion_01,
.onion_02,
.tomatoe_01,
.tomatoe_02,
.cucumber_01,
.cucumber_02,
.cheese_01,
.cheese_02,
.salad_01,
.salad_02,
.bun_top_01,
.bun_top_02 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  animation: topToBottom ease-in-out 0.5s;
  transition: all ease-out 0.2s;
}

.cutlet_01,
.cutlet_02 {
  top: -75px;
}

.mayo_01,
.mayo_02 {
  top: 0px;
}
.onion_01,
.onion_02 {
  top: -100px;
}
.tomatoe_01,
.tomatoe_02 {
  top: -105px;
}
.cucumber_01,
.cucumber_02 {
  top: -180px;
}
.cheese_01,
.cheese_02 {
  top: 15px;
}
.salad_01,
.salad_02 {
  top: -30px;
}
.bun_top_01,
.bun_top_02 {
  top: -125px;
}
.total > h3 {
  color: var(--primary-indigo);
}
.summary {
  padding: 3em;
}
.summary__main {
  background-color: var(--primary-titan-white);
  height: 4em;
  padding-inline: 1.5em;
  border-radius: 100vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn--checkout {
  padding: 0.5em 3em;
  border-radius: 100vmax;
  background-color: var(--primary-indigo);
  color: var(--primary-white);
}
.summary__icon--time,
.summary__icon--weight,
.summary__icon--energy {
  height: 32px;
  width: 32px;
}

.summary__time,
.summary__weight,
.summary__energy {
  display: flex;
  align-items: center;
}

.summary__time > img,
.summary__weight > img,
.summary__energy > img {
  margin-right: 0.5em;
}

.summary__time > span,
.summary__weight > span,
.summary__energy > span {
  color: var(--primary-black);
}

.divider {
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: var(--primary-titan-white);
}
@media (max-width: 26.25em) {
  .main__burger--grid {
    grid-template-columns: 320px;
  }
  .burger__items--container {
    height: 380px;
  }
  .btn--checkout {
    font-size: var(--primary-12);
  }
  .summary__icon--time,
  .summary__icon--weight,
  .summary__icon--energy {
    height: 20px;
    width: 20px;
  }
  .energy,
  .weight,
  .time {
    font-size: var(--primary-12);
  }
  .total > h3 {
    font-size: var(--primary-xsl);
  }
  .summary {
    padding: 1em;
  }
  .summary > h3 {
    font-size: var(--primary-sl);
  }
  .summary__main {
    background-color: var(--primary-titan-white);
    height: 3em;
  }
}
@media (max-width: 85em) {
  .main__burger--grid {
    grid-template: auto / 1fr;
    row-gap: 50px;
  }
  .title__screen--02 {
    margin-top: var(--size-32);
  }
  .burger__items--container {
    justify-self: center;
  }
  .title__screen--02 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main__ingredients--grid {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: var(--size-32);
  justify-content: center;
}
.ingredient__item {
  border: 2px solid var(--primary-titan-white);
  border-radius: 35px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.item__quantity > span {
  margin-inline: 10px;
}
.ingredient__item--content {
  flex: 1 1 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning__alert {
  position: absolute;
  background-color: var(--red-200);
  color: var(--primary-danger);
  padding-inline: 20px;
  border-radius: 100vmax;
}
.loader__block {
  position: absolute;
  inset: 0;
  background-color: var(--primary-white);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--red-300);
  box-shadow: 30px 0 0 var(--red-300);
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--red-300);
  box-shadow: 30px 0 0 var(--red-300);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--indigo-600);
  }
  50% {
    box-shadow: 0 0 0 var(--indigo-600);
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--indigo-600);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 var(--primary-danger);
  }
  50% {
    box-shadow: 0 0 0 var(--primary-danger);
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--primary-danger);
    margin-top: 0;
  }
}

.checkout__modal {
  position: fixed;
  inset: 0;
  background-color: rgba(82, 67, 194, 0.8);
  z-index: 9999;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  filter: blur(1);
  display: none;
}
.checkout__modal .card {
  flex: 0 1 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 10px;
  padding: 15px;
}

.checkout__modal .card .title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.checkout__modal .card .title > i {
  cursor: pointer;
}
.checkout__modal .card .body {
  flex: 1 1 auto;
}
.checkout__modal .card .body form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  gap: 15px;
  margin-block: 15px;
}
.checkout__modal .card .body .float__container {
  border: 1px solid var(--primary-titan-white);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.checkout__modal .card .body .float__container > i {
  flex: 0 1 25%;
  text-align: center;
  color: var(--primary-indigo);
}
.checkout__modal .card .body .float__container .float__input {
  position: relative;
  flex: 0 1 75%;
}
.checkout__modal .card .body .float__container .float__input > label {
  display: inline-block;
  position: absolute;
  text-transform: capitalize;
  top: 50%;
  transform: translate(0px, -50%) scale(1);
  transform-origin: top left;
  transition: all ease-in 0.2s;
  color: var(--primary-muted);
  font-size: var(--primary-XXL);
  width: 100%;
}
.checkout__modal .card .body .float__container .float__input > input {
  outline: 0;
  border: none;
  padding-block: 12px 0px;
  text-transform: capitalize;
  font-size: var(--primary-XXL);
  width: 100%;
}
.checkout__modal .card .body .float__container .float__input .active__input {
  transform: translate(0px, -80%) scale(0.8);
}
.checkout__modal .card .footer {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15px;
}
@keyframes opacityTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 50em) {
  .checkout__modal .card .title > :is(h5, i) {
    font-size: var(--primary-14);
  }
  .checkout__modal .card {
    height: 250px;
  }
  .checkout__modal .card .body form {
    gap: 10px;
    margin-block: 10px;
  }
  .checkout__modal .card .body .float__container {
    padding: 5px;
  }
  .checkout__modal .card .body .float__container > i {
    flex: 0 1 15%;
    font-size: var(--primary-12);
  }
  .checkout__modal .card .body .float__container .float__input {
    position: relative;
    flex: 0 1 85%;
  }
  .checkout__modal .card .body .float__container .float__input > label {
    font-size: var(--primary-12);
  }
  .checkout__modal .card .body .float__container .float__input > input {
    font-size: var(--primary-12);
  }
  .checkout__modal .card .footer .btn__cancel,
  .checkout__modal .card .footer .btn__checkout {
    font-size: var(--primary-12);
  }
}
.hide {
  display: none;
}
.show {
  display: flex;
}
